*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: rgb(236, 244, 186);
}
#titulo{
    background: blue;
    text-align: center;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
ul{ list-style: none;}

text{
    font-size: 5em;
    letter-spacing: 10px;
    font-family: monospace;
    border-right: 5px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s,
        cursor .4s step-end infinite alternate;
}

p{
    text-align: justify;
}

img{
    margin-left: 30%;
}
